.book-form button {
  width: 12rem;
  padding: 1rem;
  cursor: pointer;
  background: -webkit-gradient(linear, left top, right top, from(#03a9f4), color-stop(#5fbbc5), to(#03a9f4));
  background: linear-gradient(to right, #03a9f4, #5fbbc5, #03a9f4);
  border-radius: 2rem;
  font-weight: 500;
  font-size: 1.2rem;
}
.book-form .top-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}
.book-form .form-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
  padding: 1rem;
}
.book-form .form-grid .form-inputs, .book-form .form-grid .form-extra {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.book-form .form-grid .form-extra__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}
.book-form .form-grid .form-extra__img img {
  border-radius: 1rem;
  max-height: 15rem;
}

.radio-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.5rem;
}

.radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  position: relative;
}
.radio input {
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  position: absolute;
  opacity: 0;
}

.custom-radio {
  width: 18px;
  height: 18px;
  border: 2px solid #555;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.radio input:checked + .custom-radio {
  border-color: #107ea9;
}

.radio input:checked + .custom-radio::after {
  content: "";
  width: 10px;
  height: 10px;
  background: #60c5d5;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.radio-label {
  font-size: 1rem;
}