/* variables and mixins */
.mySwiper {
  width: 100%;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.swiper-slide {
  width: 100%;
  height: 20rem;
  background: -webkit-gradient(linear, left bottom, left top, from(rgb(34, 193, 195)), to(rgba(253, 187, 45, 0)));
  background: linear-gradient(0deg, rgb(34, 193, 195) 0%, rgba(253, 187, 45, 0) 100%);
  border-radius: 1rem;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1rem;
}

.mySwiper img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1rem;
  -webkit-box-shadow: 0 0 0.1rem rgba(39, 39, 39, 0.4);
          box-shadow: 0 0 0.1rem rgba(39, 39, 39, 0.4);
}

.mySwiper .swiper-slide-prev,
.mySwiper .swiper-slide-next {
  -webkit-filter: blur(0.1rem);
          filter: blur(0.1rem);
  opacity: 1;
}

.book {
  margin-top: 2rem;
  -webkit-animation: fadeUp 0.7s ease-in-out;
          animation: fadeUp 0.7s ease-in-out;
}

@-webkit-keyframes fadeUp {
  from {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transform: translateY(-10rem);
            transform: translateY(-10rem);
  }
  to {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes fadeUp {
  from {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transform: translateY(-10rem);
            transform: translateY(-10rem);
  }
  to {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
.home__books {
  padding: 1rem;
}
.home__books .book {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
}
.home__books .book .status {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.home__books .book .book__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.5rem;
}
.home__books .book .book__info .book__title {
  font-size: 1.5rem;
}
.actions__done {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}

.actions__now,
.actions__will {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}

.rating-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
}

.icon-done {
  max-width: 3rem;
}

.star {
  color: gold;
  font-size: 1.1rem;
}