/* variables and mixins */

// :root {

  // $text-color: rgb(36, 36, 36);
  // $bg-color: #221818;
  // $primary-color: #0d6efd;
  // $secondary-color: #959595;
  $star: gold;
  $border-color: rgb(20, 122, 255);

  $text-color: rgb(5, 5, 5);
  $bg-color: linear-gradient(0deg,rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 0) 100%);
  $secondary-color: #232323;
// }