@keyframes animBTN {
  0% {
    box-shadow: 0 0 10px 9px rgba(3, 169, 244, 0.3);
  }
  33% {
    box-shadow: 0 0 10px 9px rgba(244, 65, 165, 0.3);
  }
  66.9% {
    box-shadow: 0 0 10px 9px rgba(255, 235, 59, 0.3);
  }
  100% {
    box-shadow: 0 0 10px 9px rgba(3, 169, 244, 0.3);
  }
}

// .auth__form {
//   position: relative;
//   width: 100%;
//   overflow: hidden;
// }

// .auth__form > form {
//   position: absolute;
//   top: 0;
//   width: 100%;
//   transition: 0.5s;
// }

// .auth__form > form.login {
//   left: 0;
// }

// .auth__form > form.register {
//   left: 100%;
// }

// .auth__form > form.active {
//   left: 0;
// }

[class*="__box"] {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}
.auth {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  align-items: center;
}
.auth__tabs {
  display: flex;
  gap: 1rem;
  border: 0.1rem solid rgb(0, 0, 0);
  border-radius: 2rem;
  max-width: fit-content;
  position: relative;
  animation: animBTN 5s linear infinite;

  #btn {
    position: absolute;
    z-index: -1;
    top: 0;
    width: 50%;
    height: 100%;
    background: linear-gradient(to left, #57aab4, #57aab4);
    border-radius: 2rem;
    transition: 0.5s;
  }

  #btn.login {
    left: 0;
  }

  #btn.register {
    left: 50%;
  }
  .auth__tab {
    // border: 0.1rem solid rgb(0, 0, 0);
    padding: 1rem;
    border-radius: 2rem;
    min-width: 10rem;
    font-weight: 500;
    font-size: 1.2rem;
    // position: absolute;
    // .login {
    //   left: 0;
    // }

    // .register {
    //   left: 110px;
    // }
  }
  .active {
    border: 0.1rem solid rgb(0, 0, 0);
    background: rgb(140, 203, 140);
  }
}

form {
  //   background: #494848;
  padding: 1rem;
  display: flex;
  gap: 1rem;
  flex-direction: column;
    // justify-content: center;
  //   text-align: center;
  align-items: center;
  .password-wrapper {
    position: relative;
  }

  input {
    border: 0.1rem solid rgb(0, 0, 0);
    padding: 1rem;
    border-radius: 1rem;
    width: 100%;
    min-width: 20rem;
  }
  .toggle-password,
  .toggle-confirmed-password {
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
  }
  .form-btn {
    width: 80%;
    padding: 1rem;
    cursor: pointer;
    // display: block;
    // margin: 30px auto 0 auto;
    background: linear-gradient(to right, #03a9f4, #5fbbc5, #03a9f4);
    // border: 0;
    // outline: none;
    border-radius: 2rem;
    // position: relative;
    // z-index: 5;
    // box-sizing: border-box;
    // color: #fff;
    font-weight: 500;
    font-size: 1.2rem;
    // transition: 0.5s;
  }
}
