.book-form {
  button {
    width: 12rem;
    padding: 1rem;
    cursor: pointer;
    background: linear-gradient(to right, #03a9f4, #5fbbc5, #03a9f4);
    border-radius: 2rem;
    font-weight: 500;
    font-size: 1.2rem;
    @media (max-width: 30rem) {
      width: 11rem;
    }
  }
  .top-btns {
    display: flex;
    gap: 1rem;
    @media (max-width: 30rem) {
      gap: 0.3rem;
    }
  }
  .form-grid {
    display: flex;
    // background: #938f8f;
    gap: 2rem;
    padding: 1rem;
    @media (max-width: 30rem) {
      flex-wrap: wrap;
    }
    .form-inputs,
    .form-extra {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      align-items: center;
    }
    .form-extra__img {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      img {
        border-radius: 1rem;
        max-height: 15rem;
      }
    }
  }
}

.radio-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.radio {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  position: relative;

  input {
    appearance: none;
    -webkit-appearance: none;
    position: absolute;
    opacity: 0;
  }
}

.custom-radio {
  width: 18px;
  height: 18px;
  border: 2px solid #555;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  transition: 0.2s;
}

.radio input:checked + .custom-radio {
  border-color: #107ea9;
}

.radio input:checked + .custom-radio::after {
  content: "";
  width: 10px;
  height: 10px;
  background: #60c5d5;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.radio-label {
  font-size: 1rem;
}
