.collection-books {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  &__title {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
  }
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
  }
}
