@use "variables" as *;
.footer {
  padding: 1rem;
  min-height: 4.1rem;
  background-color: white;
  .footer__nav-wrapper{
    color: $secondary-color;
    font-size: 1.5rem;
    display: flex;
    gap: 2rem;
    justify-content: space-around;
    .bubble{
      position: relative;
      z-index: 100;
      span {
        display: block;
        position: relative;
      }
      &.active::before {
      opacity: 1;
    }
    &.active{
      .bubble__icon {
        font-size: 2rem;
        top: -1.375rem;
        left: 50%;
        transform: translateX(-50%);
      }
    }
    }
      .bubble::before {
        content: '';
        display: block;
        width: 4rem;
        height: 4rem;
        background: rgba(255, 255, 255, 0.282);
        // border: 0.1rem solid rgba(255, 255, 255, 0.108);
        box-shadow: 0 0 0.2rem 0.05rem rgba(255, 255, 255, 0.613);
        border-radius: 50%;
        position: absolute;
        top: -2.4rem;
        left: 50%;
        transform: translateX(-50%);
        z-index: -1;
        opacity: 0;
      }
      
  }
  .bgDrop {
    position: absolute;
    top: 0;
    left: 0;
    // display: none;
    transition: left 0.3s ease;
  }
}
