.header {
  padding: 1rem;
  .header__content {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    .header__logo {
      flex-grow: 1;
      text-align: center;
      font-size: 1.5rem;
      margin-left: 50%;
      transform: translateX(-50%);
    //   font-family: "Playfair Display", serif;
    //   font-family: "Pacifico", cursive; //2
    //   font-family: "Lobster", sans-serif;
      font-family: "Paytone One", sans-serif; //1
    //   font-family: "Caveat", cursive;
      font-weight: bold;
      .custom-class{
        padding: 1rem;
      }
    }
    .header__link{
        color: rgb(20, 122, 255);
        border: 0.1rem solid rgb(20, 122, 255);
        padding: 0.6rem;
        border-radius: 10rem;
        margin-right: 0.5rem;
    }
  }
}
