@use 'variables' as *;

.header {
  padding: 1rem;
  // background: #ffffff9b;
  backdrop-filter: blur(0.25rem);
  .header__content {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    .header__logo {
      flex-grow: 1;
      text-align: center;
      font-size: 1.5rem;
      margin-left: 50%;
      transform: translateX(-50%);
    //   font-family: "Playfair Display", serif;
    //   font-family: "Pacifico", cursive; //2
    //   font-family: "Lobster", sans-serif;
      font-family: "Paytone One", sans-serif; //1
    //   font-family: "Caveat", cursive;
    @media (max-width: 30rem) {
      flex-grow: 0;
      margin-left: 0;
    transform: none;
    }
      font-weight: bold;
      .custom-class{
        padding: 1rem;
      }
    }
    .header__link{
        color: $border-color;
        border: 0.1rem solid $border-color;
        padding: 0.5rem;
        border-radius: 10rem;
    }
  }
}
.header__user{
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
}
