@use "variables" as *;
.mySwiper {
  width: 100%;
  // height: calc(100vh * 0.5);
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.swiper-slide {
  width: 100%;
  height: 20rem;
  background: $bg-color;
  border-radius: 1rem;
  // ----
  // aspect-ratio: 16 / 9;
  // overflow: hidden;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  // object-fit: contain;
  border-radius: 1rem;
}

.mySwiper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  // object-fit: contain;
  border-radius: 1rem;
  box-shadow: 0 0 0.1rem rgba(39, 39, 39, 0.4);
}

// ------
// .mySwiper .swiper-slide {
//   transition: filter 0.4s ease, opacity 0.4s ease, transform 0.4s ease;
//   filter: blur(0.1rem);
// }

// .mySwiper .swiper-slide-active {
//   filter: blur(0);
// }

// ------
.mySwiper .swiper-slide-prev,
.mySwiper .swiper-slide-next {
  filter: blur(0.1rem);
  opacity: 1;
}

// ------------------
.book{
  margin-top: 2rem;
  // text-align: center;
  animation: fadeUp 0.7s ease-in-out;
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: scale(0);
    transform: translateY(-10rem);
  }
  to {
    opacity: 1;
    transform: scale(1);
    transform: translateY(0);
  }
}

.home__books {
  padding: 1rem;
  // border: 1px solid black;
  .home__content {
  }
  .book {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    .book__status {
    }
    .status {
      display: flex;
      justify-content: space-around;
      .status__title {
      }
      .status__pages {
      }
    }
    .book__info {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      .book__title {
        font-size: 1.5rem;
      }
      .book__author {
      }
      .book__genre {
      }
      .book__collection {
      }
    }
    .book__actions {
    }
  }
}
.actions__done {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.actions__now,
.actions__will {
  display: flex;
  gap: 1rem;
  // justify-content: space-around;
}
.rating-block {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.icon-done{
  max-width: 3rem;
}

.star {
  color: $star;
  font-size: 1.1rem;
}
