@use "variables" as *;

.profile {
  display: flex;
  justify-content: center;
  width: 100%;
  &__box {
    border: 0.1rem solid $box-shadow;
    padding: 3rem 1rem;
    box-shadow: $box-shadow;
    border-radius: 1rem;
    width: 30rem;
  }

  &__title {
    font-size: 1.3rem;
    font-weight: 800;
    // text-shadow: 0 0 1rem $border-color;
    color: $border-color;
    text-align: center;
    margin-bottom: 2rem;
    // color: $text-color;
  }
  &__info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    // color: $border-color;
    span {
      font-weight: 600;
    //   color: $text-color;
    }
  }
  &__btns {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    // .del-btn {
    // // border: 0.1rem solid red;
    // background: linear-gradient(to right, #f06c8464, #d9ab2d40, #f06c8464);
    // }
  }
  &__btn {
    width: 14rem;
    padding: 1rem;
    cursor: pointer;
    background: linear-gradient(to right, #03a8f464, #6cd8e440, #03a8f464);
    // border: 0.1rem solid $border-color;
    border-radius: 2rem;
    font-weight: 500;
    font-size: 1.2rem;
    text-align: center;
  }
}
.del-btn {
    width: 14rem;
    padding: 1rem;
    cursor: pointer;
    border-radius: 2rem;
    font-weight: 500;
    font-size: 1.2rem;
    text-align: center;
    background: linear-gradient(to right, #f06c8464, #d9ab2d40, #f06c8464);
    }
