@use "variables" as *;
.single-book {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 3rem 0;
  &__top-section {
    display: flex;
    gap: 1rem;
  }
  &__bottom-section{

  }
  &__title-box{
    display: flex;
    gap: 1rem;
    align-items: center;
    align-self: flex-start;
  }
  &__cover {
    max-width: 40%;
    border-radius: 2rem;
    overflow: hidden;
    min-height: 15rem;
    // border: 0.1rem solid $border-color;
    flex-shrink: 0;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .book {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100%;
    .status{
        width: 100%;
        display: flex;
        gap: 1rem;
        justify-content: space-around;
        align-items: center;
    }
    &__info{
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    &__title{
        font-size: 1.3rem;
    }
  }
  &__stats, .stat{
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: space-around;
  }
  &__review {
  }
  &__rating {
  }
  &__characters, &__rating, &__review, &__bottom-section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    min-width: 100%;
  }
  &__bottom-section {
    padding-top: 2rem;
  }
  &__delete {
  }
}
