@use "variables" as *;

.statistic {
  // color: $border-color;
  justify-content: center;
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  
  .statistic__title {
    font-size: 1.5rem;
    font-weight: 600;
  }
  .statistic-card {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    &__item {
      padding: 1rem;
      border: 0.1rem solid $box-shadow;
      box-shadow: $box-shadow;
      border-radius: 1rem;
      display: flex;
      gap: 1rem;
      justify-content: space-between;
      align-items: center;
      // flex-basis: 20rem;
      min-width: 30rem;
      @media (max-width: 30rem) {
      min-width: 20rem;
    }
      // backdrop-filter: blur(1rem);
    }
    &__icon {
      color: $border-color;
    }
    &__text {
      flex-grow: 1;
      align-self: center;
    }
    &__values {
      display: flex;
      flex-direction: column;
      gap: 0.3rem;
      // align-items: center;
      flex-basis: 4rem;
    }
    &__nums {
      color: $border-color;
      font-weight: 900;
    }
  }
}

.statistic__tabs {
  display: flex;
  gap: 1rem;
  border: 0.1rem solid rgb(0, 0, 0);
  border-radius: 2rem;
  position: relative;
  animation: animBTN 5s linear infinite;
  @media (max-width: 30rem) {
      gap: 0.3rem;
    }

  #btn {
    position: absolute;
    z-index: -1;
    width: 25%;
    height: 100%;
    border-radius: 2rem;
    inset: 0;
    transition: all 0.4s ease-in-out;
    box-shadow: $box-shadow;
  }

  #btn.day {
    left: 0;
    background: linear-gradient(to left, #81f1fd, #81aafc);
  }

  #btn.week {
    left: 25%;
    background: linear-gradient(to right, #38ebff, #7efdde);
  }

  #btn.month {
    left: 50%;
    background: linear-gradient(to right, #7efdde, #81f1fd);
  }

  #btn.year {
    left: 75%;
    background: linear-gradient(to right, #81f1fd, #81aafc);
  }

  .statistic__tab {
    padding: 1rem;
    border-radius: 2rem;
    min-width: 7rem;
    font-weight: 500;
    font-size: 1.2rem;
    @media (max-width: 30rem) {
      min-width: 5rem;
      font-size: 1rem;
    }
  }
}
