
// ---- imports style.scss
@use "./reset";
@use "variables" as *;
@use "auth";
@use "book-upload";
@use "home-book";
@use "footer";
@use "header";
@use "book-card";
@use "collection";
@use "stats";
@use "profile";

// --- fonts ---
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Pacifico&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Pacifico&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Lobster&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Pacifico&family=Paytone+One&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Lobster&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Pacifico&family=Paytone+One&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

// ---- common styles

body {
  font-family: "Nunito", "Roboto";
  font-size: 1rem;
  background: $bg-color;
  color: $text-color;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
[class*="__container"] {
  max-width: 75rem;
  margin: 0 auto;
  // padding: 1rem;
}
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  .main {
    flex-grow: 1;
    padding: 5.5rem 1rem;
  }
  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    // background: $secondary-color;
    z-index: 3000;
  }
  .footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    flex: 0 1 auto;
    z-index: 3000;
  }
}

.action-btn {
  color: $border-color;
  width: 10rem;
  border: 0.1rem solid $border-color;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
}

.icon-btns {
    // display: grid;
    // grid-gap: 5em;
    // grid-template-columns: repeat(3, auto);
    display: flex;
    gap: 5em;
    flex-wrap: wrap;
    justify-content: center;
    align-self: center;
    margin: auto;
    padding: 3em 0;
    overflow: visible;
}
.icon-btn {
    background-color: transparent;
    outline: none;
    position: relative;
    width: 10em;
    height: 10em;
    perspective: 24em;
    transform-style: preserve-3d;
    -webkit-tap-highlight-color: transparent;
    border: none;
    cursor: pointer;
}
.icon-btn__label {
    font-size: 1em;
    white-space: nowrap;
    text-align: center;
    line-height: 2;
    opacity: 1;
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    transform: translateY(0);
}

Button{
  cursor: pointer;
}