// ---- imports style.scss
@use "./reset";
@use "variables" as *;
@use "auth";
@use "book-upload";
@use "home-book";
// @import "header";
// @import "footer";

// ---- common styles

body {
  font-family: "Nunito", "Roboto";
  font-size: 1rem;
  background: $bg-color;
  color: $text-color;
}
[class*="__container"] {
  max-width: 75rem;
  margin: 0 auto;
  padding: 1rem;
}
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  .main {
    flex-grow: 1;
    padding: 4rem 0;
  }
  .header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: white;
    z-index: 3000;
  }
  .footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    flex: 0 1 auto;
    z-index: 3000;
  }
}